server:
  port: 8768
spring:
  application:
    name: eurekaclient
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  zipkin:
    base-url: http://localhost:9411
    sender:
      type: web
  sleuth:
    sampler:
      probability : 1
management:
  endpoints:
    web:
      exposure:
        include: refresh,health,info,bus-refresh
  security:
    #关闭安全验证，否则访问refresh端点时会提示权限不足
    enabled: false
